@import "variables";

.container__header {
    background-color: #061d2c;
    border: 2px solid #121169;
    margin-bottom: 25px;
    
    .btn__hamburguesa{
        
        background-color: $color-botones;
    }
    .logo__tipo {
        width: 150px;
        height: 80px;
        border: $bordes;
        border-radius: 50%;
    }
    .nav-item {
        font-size: 1.4rem;
        background-color: $color-botones;
        border:$bordes;
        box-shadow:$sombras;
        .nav-link{
            color: $color-letras;
            font-family: $letras-botones;
        }
    }

    .drop__productos {
        background-color: $color-botones;
        border:$bordes;
        box-shadow:$sombras;
        
        .dropdown-item{
            color: $color-letras;
            font-family: $letras-botones;
        }
    }

}