$color: #afafaf;
$color-primario: #112B3C;
$color-secundario: #efefef;
$color-terciario: #add8e6;
$color-letras: #ffffff;
$color-botones:#f66b0eb7;
$color-casillas: #000000;
$wid-hei: 98%;

$fuentes-secundarias: Verdana, Geneva, Tahoma, sans-serif;
$letras-botones: Georgia, 'Times New Roman', Times, serif;
$sombras:3px 3px 10px #000000;
$bordes: 1.5px solid #000000;
/*-----------------*/
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
/*----------------------*/
