@import "header", "carousel";

$color: #afafaf;
$color-primario: #edce96;
$color-secundario: #efefef;
$color-terciario: #add8e6;
$wid-hei: 100%;


body {
    background-color: $color-primario;
    font-size: 2em;
}

.footer__a{
    background-color: #afafaf;
}
